.cart-clear-cart-btn{
    margin-top: 20px;
    // background-color: #f44336;
    border: 1px solid green;
    color: black;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.cart-products {
    margin-top: 10rem;

    
}