.clear-btn {
    margin-top: 20px;
    // background-color: #f44336;
    border: 1px solid red;
    color: black;
    // padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

#paymentMethod{
    margin: 5rem;
    font-size: 20px;
    color: black;
    text-align: center;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    width: 110px;
    height: 50px;
    font-weight:500;
}

.cart-products {
    margin-top: 10rem;
}

.cart-heading {
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
    align-items: center;

    .cart-title {
        font-size: 3rem;
        // margin-left: 10rem;
        color: black
    }

    .cart-btn {

        // background-color: #f44336;
        border: 1px solid green;
        color: black;
        // padding: 10px;
        font-size: 20px;
        height: min-content;
        cursor: pointer;
        transition: 0.3s;
        
        &:hover {
            background-color: green;
            color: white;
        }
    }
}

.cart-clear-btn {
    border: 1px solid green;
    color: black;
    // padding: 10px;
    font-size: 20px;
    height: min-content;
    cursor: pointer;
    transition: 0.3s;
    width: max-content;
    margin-bottom: 40px;

    &:hover {
        background-color: green;
        color: white;
    }
}

.cart-container {
    text-align: center;
}

.cart-data {
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
}

.total-price,
.total-count {
    font-size: 1.5rem;
    // margin-left:10rem;
    color: green;
}

